body {
      font-family: 'Poppins', sans-serif;
      background-color: #fff;
    }

    .logo{
        font-family: Titan One, sans-serif;
        
    }

    .logo a{
        text-decoration: none;
        color: #7CFF9B;
    }

    .text-green {
      color: #7CFF9B;
    }

    .bg-green {
      background-color: #7CFF9B;
    }

    .btn-green {
      background-color: #ffc27c;
      color: #000;
      font-weight: 600;
    }

    .btn-green:hover {
      background-color: #6be88a;
      color: #000;
    }

    h2 a {
        text-decoration: none;
        color: #000;
    }

    .accent-orange {
      color: #FF8A00;
    }

    .hero {
      background: linear-gradient(rgba(6, 6, 6, 1), rgba(5, 5, 5, 0.9));
      height: 300px;
    }

    .card{
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    }

    .card-hover:hover {
      transform: translateY(-5px);
      transition: 0.3s ease;
    }
